body{
margin:0px;
margin-top:50px;
font-family:sans-serif;
}

header{
display:flex;
position:fixed;
top:0;
left:0;
right:0;
height:50px;
line-height:50px
background-color:#eee;
}

header *{
display:inline;
height:50px;
}

header ul{
padding:0px;
}

header li{
margin-left:20px;
}

section{
height:100vh;
border:1px solid black;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background-size:cover;
background-position:center ;
background-repeat:no-repeat;
background-attachment:fixed;
}

#home .profile-image{
width:300px;
border-radius:50%
}

footer{
text-align:center;
padding:50px;border:2px solid blue;

background-size:cover;
background-position:center ;
background-repeat:no-repeat;
background-attachment:fixed;
}

#home h1{
font-size:3 em;
}

section h2{
font-size:2.5 em;
}

section h3{
font-size:1.5 em;
}

header a {
text-decoration:none;
color: black;
}

#home {
background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url('20180427_100107.jpg');
}

#about {
background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url('shabi1 (7).jpg');
}

#contact {
background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url('samrista.jpg');
}

#footer{
background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)),url('20180427_100107.jpg');
}
